---
CompileFlags:
  Add:
    - -std=c++26
    - -Wextra
    - -Wall
    - -Wpedantic
    - -I/include
Diagnostics:
  ClangTidy:
    Add:
      - abseil-*
      - bugprone-*
      - performance-*
      - readability-*
      - modernize-*
      - cert-*
      - clang-analyzer-*
      - cppcoreguidelines-*
      - misc-*
      - portability-*
      - concurrency-*
      - cert-*
      - google-*
      - hicpp-*
      - llvm-*
